.env
harness_docs/
official_docs/

# Microsoft Office / Office 365 files
*.doc
*.docx
*.docm
*.dot
*.dotx
*.dotm
*.xls
*.xlsx
*.xlsm
*.xlt
*.xltx
*.xltm
*.xlam
*.xlsb
*.ppt
*.pptx
*.pptm
*.pot
*.potx
*.ppam
*.pps
*.ppsx
*.ppsm
*.odp
*.ods
*.odt
~$*
